/* ===================================
   layout.css  
  ==================================== */

body {
  display: flex;
  flex-direction: column;
  min-block-size: 100dvh;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-200);
}

.footer {
  margin-block-start: auto; /* fallback */
  padding-block: var(--space-100);
}
